@media only screen and (max-width: 1130px) {
    /* Make flex direction as column in navbar
       make width to fix */

    /* *{
        width: 100%;
    } */
    .navbar {
        flex-direction: column;
    }
    /* header {
        margin-bottom: 30px;
    } */
    .navbar li {
        padding: 21px 0px;
    }

    .mid {
        flex-direction: column;
        transition: all 0.5s ease-out;
        height: 450px;
    }

    .rightNav {
        text-align: center;
        width: 80%;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    /* #search {
        width: 100%;
    } */

    .Search .input {
        width: 75%;
    }

    .Search .input input {
        font-size: 16px;
    }


    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 30px;
    }

    .h-nav-resp a {
        pointer-events: none;
    }

    .v-class-resp {
        opacity: 0;
    }

    .btnnavbar {
        margin: 0% 2%;
    }

    .section {
        flex-direction: column-reverse;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .text-big {
        text-align: center;
    }

    .text-small {
        text-align: center;
    }

    .buttons {
        text-align: center;

    }

    .contact {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .paras {
        padding: 0 0;
    }

    .secondHalf {
        width: 50%;
    }

    .header {
        border: 3px solid purple;
        border-radius: 9px;
        margin: 2px auto;
        padding: 13px 4px;
        flex-wrap: wrap;
        margin-bottom: 70px;

    }

    .card__collection .cards {
        height: 223px;
        width: 65%;
    }

    .card__collection {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 83%;
        margin: auto;
        flex-direction: column;
    }

    .card__collection .cards--two__tri {
        top: 5px;
    }

    .card__collection .cards--three__list {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .card__collection .cards--three__list {
        top: 9px;
        padding-top: 0px;
    }

    .card__collection .cards--three__rect-2 {
        width: 79px;
        height: 25px
    }

    .card__collection .cards--three__rect-1 p {
        font-size: 17px;
        text-align: inherit;

    }

    .card__collection .cards--two p {
        position: absolute;
        top: 75%;
    }

    .card__collection .cards--two__rect {
        /* display: none; */
        width: 603px;
        height: 165px;
    }

    .card__collection .cards--two p {
        color: white;
        font-size: 21px;
    }

    .center {
        flex-direction: column;
        height: auto;
    }

    .property-card {
        margin: 6% 3%;
    }

    .card__collection .cards--three__circle {
        top: -27%;
        left: 56%;
    }
}