* {
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;
}

.body {
    color: beige;
    border: 10px solid red;
}

header {
    /* background-image: url('tr.png'); */
    /* background-position: top; */
    border: 3px solid purple;
    border-radius: 9px;
    margin: 2px auto;
    padding: 13px 4px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    /* position: relative; */
}

/* Css Reset */
body {
    font-family: Book Antiqua;
    /* color: rgb(13, 14, 13); */
    margin: 0px;
    padding: 0px;
    /* background-image:  url("da.jpg"); */
    /* background-repeat: fixed; */
}

.left {
    /* display: inline-block; */
    /* border-radius: 50%; */
    /* border: 2px solid red; */
    /* position: absolute; */
    /* left: 24px; */
    /* top: 34px; */
    position: absolute;
    left: 0px;
    top: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    display: block;
    border: 3px solid white;
    border-radius: 50%;
    /* width: 136px; */
    margin: 3px auto;
    width: 33%;
    /* border: 6px solid white; */
    /* border-radius: 50%; */
    /* filter: invert(100%); */
}

.left div {
    line-height: 19px;
    font-size: 30px;
    text-align: center;
}

.mid {
    /* width: 70%; */
    /* display: block; */
    width: 100%;
    /* margin: 20px auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
    top: 0px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.right {

    position: absolute;
    right: 34px;
    top: 34px;
    display: inline-block;
    /* border: 2px solid red; */
}

.navbar {
    /* display: inline-block; */
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightNav {
    width: 25%;
    text-align: right;
    /* padding: 0 23px; */
    align-items: center;
    display: flex;
    justify-content: center;
}

/* #search {
    padding: 5px;
    font-size: 13px;
    border: 2px solid gray;
    border-radius: 9px;
} */

.Search {
    position: relative;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px rgb(24, 23, 25);
    overflow: hidden;
}

.Search .icon {
    position: absolute;
    top: 0px;
    Left: 0px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    ;
}

.Search.active {
    width: 100%;
}

.Search .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.Search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #287dfc;
    transform: translate(6px, 6px) rotate(315deg);
}

.Search .input {
    position: relative;
    width: 60%;
    height: 100%;
    Left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    /* background: #ff0; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    background: #999;
    width: 1px;
    height: 15px;
    transform: rotate(315deg);
}

.navbar li {
    /* font-size: 20px; */
    /* display: inline-block; */
    list-style: none;

    padding: 21px 12px;
    font-size: 21px;
}

.btnnavbar {
    padding: 8px 34px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    color: chartreuse;
    cursor: pointer;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.btn-sn {
    padding: 6px 10px;
    vertical-align: middle;
}

/* ------------------------------------------------------------ */
/* Hovering effects */

/* ------------------------------------------------------------ */
.navbar li a {
    font-weight: bold;
    color: rgb(240, 230, 230);
    text-decoration: none;
    padding: 5px 5px;
}

.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 70%;
    border: 3px solid white;
    border-radius: 50%;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: none;
    color: rgb(4, 0, 255);
    background-color: white;
    border-radius: 32px;
    cursor: pointer;

}

.btn {
    font-family: cursive;
    margin: 0px 2px;
    /* background-color: rgb(228, 222, 222); */
    /* color: white; */
    padding: 4px 11px;
    border: 3px solid rgb(255, 251, 0);
    border-radius: 10px;
    font-size: 20px;
    /* cursor: pointer; */
}

.btn:hover {
    background-color: rgb(71, 64, 64);
    color: lime;
    text-decoration: none;
}

h1 {

    display: block;
    text-align: center;
    width: 90%;
    margin: auto;

    /* border-radius:13px; */
    font-size: 45px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: bold;
    font-variant: inherit;
    /* background-image: url("tr.png"); */
    padding: 10px;
    cursor: pointer;
    text-shadow: 4px 4px #e70404;
    margin-top: 2%;
    margin-bottom: 1%
}

.a1:hover {
    color: rgb(66, 25, 216);
    text-decoration: underline;
}

.exp {
    color: rgb(204, 248, 10);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: auto;
    margin: 3px auto;
    padding: 4px 12px;
    /* background-image: url("171.jpg"); */
    /* background-position: left; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    /* cursor: pointer; */
    text-align: center;
    text-shadow: 2px 2px #0184ff;
    /* text-decoration: none; */
}

.exp a {
    text-decoration: none;
}

.exp:hover {
    color: lawngreen;
    text-decoration: underline;
    background-color: rgb(17, 15, 15);
    /* color: lime; */
    /* text-decoration: none; */
    /* text-decoration: none; */

}

.name {
    border: 5px;
    border-right-color: chartreuse;
    border-left-color: rgb(228, 20, 20);
    border-top-color: darkred;
    border-bottom-color: yellow;
    border-radius: 10px;
    /* background-image: url("30.jpg"); */
    /* background-position: center; */
    border-style: groove;
    /* border-image: url("9\ \(2\).jpeg"); */
    height: 160px;
    width: 99%;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
}

.name img {
    border: 2px solid yellow;
    border-style: dashed;
}

button {
    border: 3px solid navy;
    background-color: black;
    border-radius: 26px;
    text-decoration: none;
}

.ptr {
    border: 3px solid #f1a409;
    /* text-align: center; */
    border-radius: 45px;
    width: auto;
    margin: 1% 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1% 2%;
    background-color: rgb(12, 17, 17);
    background-position: center;
    box-shadow: 5px 10px rgb(209, 198, 198);
    float: none;
}

.ptr h1:hover {
    color: oldlace;
    text-decoration: none;
}

button.trp {
    color: aqua;
    /* float:right; */
    display: inline-block;
    margin-top: 112px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px rgb(189, 9, 9);
    width: 93px 6px;
    padding: 0px 25px;
    box-shadow: 3px 3px rgb(231, 72, 9);
    /* background-image: url("th\ \(14\).jfif"); */
    /* background-position: center; */
}

button.trp:hover {
    color: rgb(12, 12, 11);
}

button.alt {
    color: orchid;
    border: 3px solid aquamarine;
    border-radius: 12px;
    width: 210px;
    height: 35px;
    font-family: cursive;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

button.alt:hover {
    color: bisque;
}

/* .mit img{
      border: 5px solid rgb(147, 196, 13);
      border-style: groove;
      border-top-color:  rgb(29, 123, 185);
      width: 210px;
      padding: 28px 17px;
  } */
.mit img {
    border: 5px solid rgb(190, 79, 5);
    border-style: groove;
    border-top-color: rgb(0, 153, 255);
    width: 200;
    height: 100;
    border-radius: 14px;
    cursor: pointer;
}

.mit img:hover {
    background-color: rgb(207, 221, 11);
    box-shadow: 4px 4px aqua;
}

.sit {
    color: beige;
    margin-top: 8px;
    border: 2px solid grey;
    border-radius: 13px;
    width: 99.5%;
    float: left;

}

p.sit {
    color: rgb(238, 255, 0);
    border: 3px solid rgb(0, 238, 255);
    background-color: rgb(226, 43, 43);
    /* background-color:; */
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    /* margin-top: 30px; */
}

.textDecoration a {
    text-decoration: none;
    color: whitesmoke;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.section {
    /* height: 350px; */
    padding-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 83%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
}

.paras {
    padding: 0px 65px;
}

.sectionSubTag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img {
    width: 300px;
    border: 2px solid black;
    border-radius: 26px;

}

.firstSection {
    height: 100vh;
}

.section-left {
    flex-direction: row-reverse;
}

.detailTag {
    font-family: Arial, Helvetica, sans-serif;
    color: palegreen;
    text-align: justify;
    cursor: pointer;
}

.marquee {
    color: white;
}

.thumbnail img {
    width: 30%;
    border: 2px solid black;
    border-radius: 26px;
}


.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-icons a {
    color: #ffffff;
}

.fa-github {
    padding: 5px;
}

.fa-linkedin {
    padding: 5px;
}

.fa-twitter {
    padding: 5px;
}

.fa-facebook {
    padding: 5px;
}

.fa-instagram {
    padding: 5px;
}

.fa-github:hover {
    color: white;
    background-color: black;
    padding: 5px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

.fa-linkedin:hover {
    background-color: #0077b5;
    color: white;
    /* width: 21px;
    height: 20px; */
    padding: 5px;
    border-radius: 10%;


}

.fa-twitter:hover {
    /* background-color: #00acee; */
    color: #00acee;
    padding: 5px
}

.fa-facebook:hover {
    background-color: #1778F2;
    color: white;
    /* width: 21px; */
    /* height: 20px; */
    padding: 5px;
    border-radius: 20%;
    /* margin: 0px; */
}

.fa-instagram:hover {
    background-color: white;
    /* color: red; */
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

    border-radius: 30%;
    /* width: 21px; */
    /* height: 20px; */
    padding: 5px;
    /* margin: 0px; */
}

/* .footer-icons a:hover{
    color: black;
} */

/* Section for About Us */
@import "https://fonts.googleapis.com/css?family=Do+Hyeon";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear-fix:after {
    display: block;
    clear: both;
    content: "";
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.card__collection {
    position: relative;
    display: block;
    background: rgba(10, 10, 10, 0.5);
    padding: 10px;
    font-family: "Do Hyeon", sans-serif;
    overflow: hidden;
}

.card__collection .cards {
    /* width: 287px; */
    width: 23%;
    height: 400px;
    display: block;
    background-size: cover;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-position: center;
    margin: 10px;
}

.card__collection .cards--one {
    backface-visibility: hidden;
}

.card__collection .cards--one:hover:after {
    bottom: -20px;
}

.card__collection .cards--one:hover:before {
    bottom: -10px;
}

.card__collection .cards--one:hover .cards--one__rect {
    left: 45%;
}

.card__collection .cards--one:hover .cards--one__rect--back {
    left: 50%;
}

.card__collection .cards--one::after {
    content: "";
    display: block;
    position: absolute;
    height: 70px;
    transform: rotate(-3deg);
    background: #e660e3;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: -10px;
    z-index: 9;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}

.card__collection .cards--one:before {
    content: "";
    display: block;
    position: absolute;
    height: 80px;
    transform: rotate(-3deg);
    bottom: -90px;
    left: 0;
    background: #fff;
    right: -10px;
    z-index: 5;
    transition: all 0.2s ease-in;
    transition-delay: 0.1s;
}

.card__collection .cards--one__rect {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    background: #0f9bc0;
    width: 126px;
    height: 55px;
    transform: skewY(5deg);
    position: absolute;
    display: block;
    top: 60%;
    left: -45%;
    z-index: 1;
    line-height: 3.3rem;
    text-align: center;
    transition: all 0.2s ease-in;
}

.card__collection .cards--one__rect--back {
    display: block;
    background: rgba(34, 65, 154, 0.8);
    width: 126px;
    height: 55px;
    transform: skewY(7deg);
    position: absolute;
    top: 65%;
    left: -50%;
    transition: all 0.2s ease-in;
    transition-delay: 0.3s;
}

.card__collection .cards--one__rect p {
    transform: skewY(-7deg);
    position: relative;
}

.card__collection .cards--two {
    position: relative;
    backface-visibility: hidden;
}

.card__collection .cards--two p {
    position: absolute;
    top: 83%;
    left: -100%;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    z-index: 8;
    transition: all 0.6s ease;
}

.card__collection .cards--two:hover p {
    left: 8%;
}

.card__collection .cards--two:hover img {
    transform: translateY(-15px);
}

.card__collection .cards--two:hover .cards--two__rect {
    top: 75%;
}

.card__collection .cards--two:hover .cards--two__rect:before {
    transform: translateY(15px);
}

.card__collection .cards--two:hover li {
    transform: translateY(0);
}

.card__collection .cards--two:hover .cards--two__tri {
    right: -40%;
}

.card__collection .cards--two:hover .cards--two__tri:before {
    right: -312px;
}

.card__collection .cards--two img {
    transition: all 0.2s ease;
}

.card__collection .cards--two__tri {
    border-top: 220px solid transparent;
    border-bottom: 190px solid transparent;
    border-right: 288px solid #fff;
    opacity: 0.9;
    position: absolute;
    display: block;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in-out;
}

.card__collection .cards--two__tri:before {
    border-top: 220px solid transparent;
    border-bottom: 190px solid transparent;
    border-right: 288px solid #57ccfd;
    position: absolute;
    content: "";
    display: block;
    top: -220px;
    right: -612px;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
}

.card__collection .cards--two__rect {
    width: 750px;
    height: 200px;
    background: #fff;
    display: block;
    position: absolute;
    top: 175%;
    left: -78%;
    transform: rotate(30deg);
    z-index: 5;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.card__collection .cards--two__rect:before {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    background: #f07306;
    transform: translateY(200px);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.card__collection .cards--two ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 9;
}

.card__collection .cards--two ul li {
    display: inline-block;
    font-size: 16px;
    margin: 7px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    transform: translateY(100px);
}

.card__collection .cards--two ul li:nth-child(2) {
    transition-delay: 0.2s;
}

.card__collection .cards--two ul li:nth-child(3) {
    transition-delay: 0.3s;
}

.card__collection .cards--two ul li:nth-child(4) {
    transition-delay: 0.4s;
}

.card__collection .cards--three {
    position: relative;
    z-index: 10;
}

.card__collection .cards--three:hover .cards--three__rect-1 {
    left: 10%;
}

.card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
    left: -20%;
}

.card__collection .cards--three:hover .cards--three__rect-2 {
    left: 60%;
}

.card__collection .cards--three:hover .cards--three__rect-2:before {
    left: -100%;
}

.card__collection .cards--three:hover .cards--three__rect-2:after {
    left: 80%;
}

.card__collection .cards--three:hover .cards--three__rect-2 .shadow-2 {
    left: -10%;
}

.card__collection .cards--three:hover .cards--three__circle {
    transform: scale(1);
}

.card__collection .cards--three:hover .cards--three__circle:before {
    transform: scale(0.9);
}

.card__collection .cards--three:hover .cards--three__list li {
    transform: translateX(0);
}

.card__collection .cards--three__rect-1 {
    background: #fff;
    width: 200px;
    height: 110px;
    transform: skewX(-20deg);
    display: block;
    position: absolute;
    top: 73%;
    opacity: 0.9;
    left: -100%;
    z-index: 8;
    transition: all 0.5s ease-in;
}

.card__collection .cards--three__rect-1 p {
    font-size: 20px;
    color: #fff;
    transform: skewX(20deg);
    line-height: 6rem;
}

.card__collection .cards--three__rect-1 .shadow-1 {
    background: #9b1308;
    width: 230px;
    height: 100px;
    display: block;
    position: absolute;
    left: -200%;
    z-index: -1;
    transition: all 0.3s ease-in;
}

.card__collection .cards--three__rect-2 {
    width: 100px;
    height: 70px;
    background: #fff;
    position: absolute;
    top: 65%;
    left: 1000%;
    opacity: 0.9;
    transform: skewX(-20deg);
    z-index: 8;
    transition: all 0.5s ease-in;
}

.card__collection .cards--three__rect-2::before {
    content: "";
    display: block;
    width: 50px;
    height: 40px;
    background: #57ccfd;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 10%;
    transition: all 0.3s ease-in;
}

.card__collection .cards--three__rect-2::after {
    content: "";
    display: block;
    width: 50px;
    height: 40px;
    background: #9b1308;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 114%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}

.card__collection .cards--three__rect-2 .shadow-2 {
    background: #57ccfd;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -10%;
    left: 500%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}

.card__collection .cards--three__circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15%;
    left: 50%;
    opacity: 0.9;
    transform: scale(0);
    transition: all 0.3s ease;
}

.card__collection .cards--three__circle:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #9b1308;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.card__collection .cards--three__list {
    list-style: none;
    position: absolute;
    top: -9px;
    right: 7px;
    padding-top: 60px;
    transition: all 0.4s ease;
}

.card__collection .cards--three__list li {
    display: inline-block;
    margin: 4px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background: rgba(87, 204, 253, 0.9); */
    text-align: center;
    line-height: 1.7rem;
    font-size: 12px;
    transition: all 0.3s ease;
    transform: translateX(500%);
    font-size: 17px;
}

.card__collection .cards--three__list li:nth-child(1) {
    transition-delay: 0.2s;
}

.card__collection .cards--three__list li:nth-child(2) {
    transition-delay: 0.3s;
}

.card__collection .cards--three__list li:nth-child(3) {
    transition-delay: 0.4s;
}


/* Section */


.h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

/* p {
    font-size: 12px;
  } */

.center {
    height: 68vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */

.property-card {
    height: 180px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 11px 10px 37px red, -9px -6px 21px blue;
    box-shadow: 11px 10px 37px red, -9px -6px 21px blue;
    margin: 1% 3%;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image {
    /* height:6em; */
    /* width:14em; */
    /* padding:1em 2em; */
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

/* Bottom Card Section */

.property-description {
    background-color: white;
    height: 100px;
    width: 300px;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}

/* Social Icons */

.property-social-icons {
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 1em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description {
    height: 0em;
    padding: 0px 1em;
}

.property-card:hover .property-image {
    height: 18em;
}

.property-card:hover .property-social-icons {
    background-color: white;
}

.property-card:hover .property-social-icons:hover {
    background-color: blue;
    cursor: pointer;
}

.cards__list a {
    text-decoration: none;
}

.cards--three__list a {
    text-decoration: none;
}

.temporary-css{
        background-color:rgb(200, 200, 200)
}
