@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e4e4e4;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.table-concept {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.table-concept .table-radio {
  display: none;
}

.table-concept .table-radio:checked+.table-display {
  display: block;
}

.table-concept .table-radio:checked+.table-display+table {
  width: 100%;
  display: table;
}

.table-concept .table-radio:checked+.table-display+table+.pagination {
  display: flex;
}

.table-concept .table-radio:checked+.table-display+table+.pagination>label.active {
  color: #ffffff;
  background-color: dimgray;
  cursor: default;
}

.table-concept .table-radio:checked+.table-display+table+.pagination>label.disabled {
  color: #ffffff;
  background-color: #b5b5b5;
  cursor: default;
}

.table-concept .table-display {
  background-color: #e2e2e2;
  text-align: right;
  padding: 10px;
  display: none;
  position: sticky;
  left: 0;
}

.table-concept table {
  background-color: #ffffff;
  font-size: 16px;
  border-collapse: collapse;
  display: none;
}

.table-concept table tr:last-child td {
  border-bottom: 0;
}

.table-concept table tr th,
.table-concept table tr td {
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
}

.table-concept table tr th {
  color: #ffffff;
  font-weight: normal;
  background-color: #8f8f8f;
  border-bottom: solid 2px #d8d8d8;
  position: sticky;
  top: 0;
}

.table-concept table tr td {
  border: solid 1px #d8d8d8;
  border-left: 0;
  border-right: 0;
  white-space: nowrap;
}

.table-concept table tbody tr {
  transition: background-color 150ms ease-out;
}

.table-concept table tbody tr:nth-child(2n) {
  background-color: whitesmoke;
}

.table-concept table tbody tr:hover {
  background-color: #ebebeb;
}

.table-concept .pagination {
  background-color: #8f8f8f;
  width: 100%;
  display: none;
  position: sticky;
  bottom: 0;
  left: 0;
}

.table-concept .pagination>label {
  background-color: #8f8f8f;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

.table-concept .pagination>label:hover {
  background-color: darkgray;
}

.table-concept .pagination>label:active {
  background-color: #767676;
}

.table-title {
  color: #ffffff;
  background-color: #2f2f2f;
  padding: 15px;
}

.table-title h2 {
  margin: 0;
  padding: 0;
}

.button-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.button-container span {
  color: #8f8f8f;
  text-align: right;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.button-container button {
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
  padding: 10px 15px;
  border: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  transition: background-color 225ms ease-out;
}

.button-container button.primary {
  background-color: #147eff;
}

.button-container button.primary:hover {
  background-color: #479aff;
}

.button-container button.primary:active {
  background-color: #0065e0;
}

.button-container button.primary {
  background-color: #147eff;
}

.button-container button.primary:hover {
  background-color: #479aff;
}

.button-container button.primary:active {
  background-color: #0065e0;
}

.button-container button.danger {
  background-color: #d11800;
}

.button-container button.danger:hover {
  background-color: #ff2205;
}

.button-container button.danger:active {
  background-color: #9e1200;
}

.button-container button svg {
  fill: #ffffff;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}